* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
main {
	position: relative;
	min-height: 75vh;
}

.container {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.container .nav-two {
	display: flex;
	justify-content: flex-end;
}

.container ul {
	padding-top: 7px;
}
.nav-two ul {
	margin-right: 10px;
}

.nav-two li,
.nav-one li {
	margin-right: 10px;
	font-size: 1.1rem;
}
.container li {
	list-style: none;
	display: inline;
}

.container div a {
	text-decoration: none;
	color: hsla(0, 0%, 0%, 87%);
}

.container div a:hover {
	text-decoration: underline;
}

.nav-links i {
	color: gray;
	margin-right: 10px;
	font-size: 1.4rem;
}

.nav-links button {
	outline: none;
	padding: 5px;
	background-color: hsl(212, 88%, 53%);
	color: hsl(0, 80%, 100%);
	cursor: pointer;
	border: none;
	border-radius: 2px;
	font-weight: 500;
	width: 80px;
	height: 30px;
}

.logo-img {
	overflow: hidden;
	margin: 85px auto 15px;
}

.logo-img img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.form-data i {
	position: relative;
	left: 460px;
	top: 34px;
	font-size: 17px;
	color: rgb(219, 216, 216);
}
.form-data .mic {
	position: relative;
	left: 890px;
	top: -100px;
	font-size: 17px;
	color: linear-gradient rgb(192, 86, 86);
}

.form-data input {
	width: 35%;
	padding: 15px;
	display: block;
	margin: 0 auto;
	border-radius: 25px;
	text-indent: 25px;
	outline: none;
	border: 1px solid rgb(230, 224, 224);
}

.form-data input:hover {
	box-shadow: 3px 3px 15px -5px rgb(139, 138, 138);
}

.query-submit {
	display: flex;
	justify-content: center;
}

.query-submit button {
	margin: 30px 10px 0;
	padding: 9px;
	border-radius: 5px;
	border: 1px solid rgb(243, 242, 242);
	background: rgb(245, 241, 241);
	outline: none;
}

.query-submit a {
	text-decoration: none;
	color: rgb(148, 144, 144);
}

.query-submit .selected:hover {
	border: 1px solid rgb(207, 207, 207);
}

.selected a:hover {
	color: rgb(63, 57, 57);
}

.language-types {
	display: flex;
	justify-content: center;
	margin: 15px 0 0;
}

.language-head {
	/* margin-right: 5px; */
}
.language-group {
	display: inline;
	margin-left: 5px;
}

.language-types li {
	display: inline;
	list-style: none;
	margin: 3px;
}

.language-group a {
	text-decoration: none;
}
.language-group a:hover {
	text-decoration: underline;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	color: rgb(128, 126, 126);
	font-size: 1.2rem;
}

.country {
	padding: 10px 30px;
	background: rgb(240, 237, 237);
	border: 1px solid rgb(223, 221, 221);
	border-bottom: none;
}

.container-footer {
	display: flex;
	justify-content: space-between;
	padding: 10px 30px;
	background: rgb(240, 237, 237);
	border: 1px solid rgb(207, 207, 207);
}

.container-footer li {
	display: inline;
	margin-right: 25px;
}

.container-footer a {
	text-decoration: none;
	color: rgb(128, 126, 126);
}

.container-footer a:hover {
	text-decoration: underline;
	color: rgb(128, 126, 126);
}
