body {
    background-color: #fff;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.container li {
    float: left;
    /* display: inline-block; */
    list-style-type: none;
}

.container a {
    display: block;
    margin: 0 3px;
    padding: 1px;
    text-align: right;
    text-decoration: none;
    color: #727574;
}

.grid {
    color: rgba(189, 192, 189, 0.925);
    margin-top: 0.9%;
    margin-left: 1-5%;
    margin-right: 1.5%;
}

nav button {
    color: white;
    background: #05f;
    height: 30px;
    margin-top: 0.1%;
}

.goo-img {
    margin: auto;
    width: 50%;
}

.goo-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.goo-img a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

input {
    display: block;
    width: 100%;
    height: 25px;
    border: 2px solid rgb(226, 220, 220);
    border-radius: 30px;
    margin-bottom: 10px;
}

.goo-img .lang a {
    text-decoration: none;
    color: blue;
}

.lang {
    width: 100%;
    text-align: center;
}

.goo-img button {
    width: 50%;
    display: block;
    float: left;
    clear: right;
    background-color: none;
    margin-bottom: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.country {
    margin-top: 50px;
    margin-bottom: 0px;
    padding-left: 50px;
    padding-top: 20px;
    background-color: rgb(241, 236, 236);
    height: 30px;
    text-shadow: ivory;
    border: 1px solid rgb(200, 199, 199);
    border-bottom-style: none;
}


/* .container-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    margin-top: 0px;
}

.container-footer2 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-content: flex-end;
    flex-wrap: nowrap;
} */

.container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(241, 236, 236);
    height: 40px;
    padding-top: 10px;
    border: 1px solid rgb(200, 199, 199);
}

.container-footer a {
    margin-left: 10px;
    text-decoration: none;
    text-align: center;
    color: rgb(102, 89, 89);
    padding: 3px;
}

.container-footer-list1 {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
}

.container-footer-list2 {
    list-style-type: none;
    display: inline-flex;
}