* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.container .nav-two {
	display: flex;
	justify-content: flex-end;
}

.container ul {
	padding-top: 7px;
}
.nav-two ul {
	margin-right: 10px;
}

.nav-two li,
.nav-one li {
	margin-right: 10px;
	font-size: 1.1rem;
}
.container li {
	list-style: none;
	display: inline;
}

.container div a {
	text-decoration: none;
	color: hsla(0, 0%, 0%, 87%);
}

.container div a:hover {
	text-decoration: underline;
}

.nav-links i {
	color: gray;
	margin-right: 10px;
	font-size: 1.4rem;
}

.nav-links button {
	outline: none;
	padding: 5px;
	background-color: hsl(212, 88%, 53%);
	color: hsl(0, 80%, 100%);
	cursor: pointer;
	border: none;
	border-radius: 2px;
	font-weight: 500;
	width: 80px;
	height: 30px;
}

.logo-img {
	overflow: hidden;
	margin: 85px auto 30px;
}

.logo-img img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.form-data i {
	position: relative;
	left: 460px;
	top: 34px;
	font-size: 17px;
	color: rgb(219, 216, 216);
}
.form-data .mic {
	position: relative;
	left: 890px;
	top: -60px;
	font-size: 17px;
	color: linear-gradient rgb(192, 86, 86);
}

.form-data input {
	width: 35%;
	padding: 15px;
	display: block;
	margin: 0 auto;
	border-radius: 25px;
	text-indent: 25px;
	outline: none;
	border: 1px solid rgb(230, 224, 224);
}

.form-data input:hover {
	box-shadow: 3px 3px 15px -5px rgb(139, 138, 138);
}

/*
.container a {
    display: block;
    margin: 0 3px;
    padding: 1px;
    text-align: right;
    text-decoration: none;
    color: #727574;
}

.grid {
    color: rgba(189, 192, 189, 0.925);
    margin-top: 0.9%;
    margin-left: 1-5%;rr
    margin-right: 1.5%;
}

nav button {
    color: white;
    background: #05f;
    height: 30px;
    margin-top: 0.1%;
}

.goo-img {
    margin: auto;
    width: 50%;
}

.goo-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.goo-img a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

input {
    display: block;
    width: 100%;
    height: 25px;
    border: 2px solid rgb(226, 220, 220);
    border-radius: 30px;
    margin-bottom: 10px;
}

.goo-img .lang a {
    text-decoration: none;
    color: blue;
}

.lang {
    width: 100%;
    text-align: center;
}

.goo-img button {
    width: 50%;
    display: block;
    float: left;
    clear: right;
    background-color: none;
    margin-bottom: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.country {
    margin-top: 50px;
    margin-bottom: 0px;
    padding-left: 50px;
    padding-top: 20px;
    background-color: rgb(241, 236, 236);
    height: 30px;
    text-shadow: ivory;
    border: 1px solid rgb(200, 199, 199);
    border-bottom-style: none;
}


.container-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    margin-top: 0px;
}

.container-footer2 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-content: flex-end;
    flex-wrap: nowrap;
}

.container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(241, 236, 236);
    height: 40px;
    padding-top: 10px;
    border: 1px solid rgb(200, 199, 199);
}

.container-footer a {
    margin-left: 10px;
    text-decoration: none;
    text-align: center;
    color: rgb(102, 89, 89);
    padding: 3px;
}

.container-footer-list1 {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
}

.container-footer-list2 {
    list-style-type: none;
    display: inline-flex;
} */
